*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navabr */
#logo{
    width: 10rem;
    padding: 8px;
    border: 1px solid #D1D9E6;
    border-radius: 6px;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff;
}
/* Dashboard */
.outer-box{
    background-color: rgb(230, 231, 238);
    border: 1px solid #D1D9E6;
    padding: 20px;
    box-shadow: rgb(184 185 190) 2px 2px 5px inset;  
}
.inner-box{
    background: #e6e7ee;
    border: 1px solid #D1D9E6;
    border-radius: 7px;
    box-shadow: 0px 0px 17px 3px #fff;
}
.card-search-title{
    font-family: 'Montserrat', sans-serif;
}

.lable-title{
    width: 10rem;
    margin: auto;
}
.select-group{
    display: flex;
}

.property, .meter{
    background-color: rgb(230, 231, 238);
    border: none;
    padding: 9px;
    box-shadow: rgb(184 185 190) 2px 2px 5px inset; 
    margin: 15px 10px;
}
.drop-data{
    background: #e6e7ee;
    border-radius: 5px;
    box-shadow: 0px 0px 17px 3px #fff;
}
#view-btn{
    border: 1px solid #D1D9E6;
    border-radius: 6px;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff;
}

#view-btn:hover{
    border-radius: 7px;
    background: #D1D9E6;
    box-shadow: inset 20px 10px 20px #a4a4a4,
            inset -10px -10px 20px #ffffff;
}

#lable-sec{
    background-color: rgb(230, 231, 238);
    border: 1px solid #D1D9E6;
    box-shadow: rgb(184 185 190) 2px 2px 5px inset; 
}
.inner-lable{
    background: #e6e7ee;
    border: 1px solid #D1D9E6;
    border-radius: 7px;
    box-shadow: 0px 0px 17px 3px #fff;
    width: 100%;
    padding: 6px 10px;
    position: relative;
}
.edit-icon{
    position: absolute;
    right: 0;
    top: 0px;
    background-color: rgb(230, 231, 238);
    box-shadow: rgb(184 185 190) 2px 2px 5px inset;  
}
#tooglebtn{
    border: none;
}
#modal-btn{
    border: none;
    color: #000000;
    background-color: rgb(230, 231, 238);
    box-shadow: rgb(184 185 190) 2px 2px 5px inset;  
}
#modal-btn:hover{
    background: #e6e7ee;
    border: 1px solid #D1D9E6;
    border-radius: 7px;
    box-shadow: 0px 0px 14px 3px #969494;
}
#modal-details{
    border: 1px solid #D1D9E6;
    background-color: rgb(230, 231, 238);
    box-shadow: rgb(184 185 190) 2px 2px 5px inset;
}
#update-input{
    border: 1px solid #D1D9E6;
    background-color: rgb(230, 231, 238);
    box-shadow: rgb(184 185 190) 2px 2px 5px inset;
}

#fidder-select{
    background-color: rgb(230, 231, 238);
    border: 1px solid #D1D9E6;
    box-shadow: rgb(184 185 190) 2px 2px 5px inset;
}

.hname{
    position: absolute;
    right: 36px;
    top: 20px;
}
#dataGrid{
    width: 30vw;
}

/* Responsive */

@media screen and (max-width: 1081px) {
    /* Dashboard */
    #prop_meter{
        flex-direction: column;
    }
    .property, .meter{
        width: 59vw;
    }
    .lable-title {
        width: 21vw;
        margin: 10px 0;
    }
    .select2 {
        width: 58vw !important;
    }
    #select2-selectProperty-container, #select2-selectMeter-container{
        line-height: 37px;
    }

    /* Fetch data */
    #relate_data{
        flex-direction: column;
        align-items: center;
    }
    #dataGrid {
        width: 70vw;
    }
    
}


@media screen and (max-width: 630px) {
    .property, .meter {
        width: 80vw;
    }
    .lable-title{

    }
    
}


@media screen and (max-width: 500px) {
    .lable-title{
        font-size: 2.5vw !important;
    }
    #select2-selectProperty-container, #select2-selectMeter-container {
        line-height: 30px;
        font-size: 3.5vw;
    }
    .property, .meter {
        width: 70vw;
    }    
    #dataGrid {
        width: 90vw;
        font-size: 4vw;
    }
    #tooglebtn{
        padding: 1.4vw 3vw;
    }
    
}

@media screen and (max-width: 351px) {
    #tooglebtn {
        padding: 1.6vh 2vw;
    }
}


@media screen and (max-width: 290px) {
    #tooglebtn {
        padding: 0.4vh 2vw;
    }
}
